*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'popkins', sans-serif;
}

body{
    background-color: rgb(6, 7, 49);
}

.container{
    margin: 50px auto 0px;
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 30px;
    background-color: floralwhite;
    border-radius: 30px 30px 2px;
}
.container h1{
    font-size: 25px;
    color: rgb(6, 7, 49);
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.quiz h2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(6, 7, 49);
    padding: 20px 0px;
}
.quiz .btn{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: rgb(6, 7, 49);
    text-align: left;
    border: 1px solid rgb(6, 7, 49);
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    outline: none;
    transition: all .3s;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    color: white;
    background-color: rgb(6, 7, 49);
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    width: 150px;
    background-color: rgb(6, 7, 49);
    color: white;
    padding: 10px;
    margin: 20px auto 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    display: none;
}

.quiz .correct{
    border: 2px solid #9aeabc;
}
.quiz .incorrect{
    border: 2px solid #ff9393;
}
